<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <p>This is the menu content.</p>
  </ion-content>
</ion-menu>

<!-- Contenido principal -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Escaneo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Escaneo</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Aquí va tu contenido -->
  <p class="ion-padding">Aquí va tu página de escaneo.</p>
<!-- <ion-button expand="full" (click)="scanQr()">Escanear QR</ion-button> -->
 <ion-list>
    <ion-item *ngFor="let barcode of barcodes">
      <ion-label position="stacked">{{ barcode.format }}</ion-label>
      <ion-input type="text" [value]="barcode.rawValue"></ion-input>
    </ion-item>
  </ion-list>
  


  <ion-fab slot="fixed" vertical="center" horizontal="center">
    <ion-fab-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<ion-button shape="round" (click)="addUser()">Add</ion-button>
<ion-list>
  <ion-item *ngFor="let dato of datosGuardados">
    <ion-label>
      <h2>ID: {{ dato.id }}</h2>
      <p>Nombre: {{ dato.nombre }}</p>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>